@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Pacifico&family=Poppins:wght@400;700&display=swap');


body{
  padding:0;

}

#wheel{
  max-height: 70vh;
}
#canvas{
  left:50%;
  max-width:95vw;
  max-height: 80%;
}
canvas{
  max-height: 80%;
}
td,th,table,tr{
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
}
input,select{
  padding: 5px;
  border-radius: 4px;
}
.modal{
  background-color: rgba(18, 30, 51, 0.8);
  opacity: 0;
    transform: scale(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.modal.appear{
  transform: scale(1);
  opacity: 1;
}
